@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
html {
 font-family: 'Roboto Slab';
 font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.nav {
  background-color: lightpink;
  list-style: none;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav li{
  display: inline-block;
  padding-right: 100px;
}
.nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.nav a:hover {
  transition: 1s;
  color: white;
  font-size: 30px;
}

main {
  width: 100vw;
}

a,
p,
h3 {
  color: black;
}

.products {
  margin: 10px 50px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-gap: 1.8rem 1.5rem;
  margin: 50px 50px;
}
.product {
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 1em;
}
.product-img {
  width: 200px;
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.product-price {
  margin-bottom: 5px;
}
.product-name {
  margin-bottom: 5px;
}
.footer{
  text-align: center;
  background-color: lightpink;
  width:100%;
  height:80px;
  position: relative;
}
.socials li{
  list-style: none;
  display:inline-block;
  font-size: 25px;
}
.socials{
  color:white;
  padding-top: 20px;
  
}
#copyright{
  color: white;
}

.logo{
  color: white;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 35px;
  font-family: 'Italianno', cursive;
}
@media only screen and (max-width: 1050px) {
  .productcontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5em;
    grid-gap: 1em;
  }
}